BR2T_BR_URL := https://buildroot.org/downloads
BR2T_VERSION := 2020.02.8
BR2T_BR_FILE := buildroot-$(BR2T_VERSION).tar.bz2

BR2T_NAME := br_template

BR2T_EXTERNAL := buildroot-external

BR2T_DEFCONFIG := qemu_arm_versatile_custom

# Leave empty if recovery is not needed
# BR2T_RECOVERY_DEFCONFIG := qemu_arm_versatile_custom_recovery

# BR2T_SWDESCRIPTION := board/custom/sw-description

BR2T_IMAGE_FILES := "out/$(BR2T_DEFCONFIG)/images/u-boot.bin:/" \
			"out/$(BR2T_DEFCONFIG)/images/versatile-pb.dtb:/" \
			"out/$(BR2T_DEFCONFIG)/images/rootfs.ext2:/" \
			"out/$(BR2T_DEFCONFIG)/images/zImage:/" \
